/*
    Tags HTML
*/

/* Initialisation de la racine DOM */
html, body {
    background-color: rgb(104, 187, 285);
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*
*, *:after, *:before {
    box-sizing: border-border;
}
*/

/*
    IDs declaration
*/
div#header {
    position: relative;
    background-color: rgb(0, 160, 285);
    width: 90%;
    height: 10%;
    border-radius: 15px;
    border: 3px solid grey;
    margin-left: auto;
    margin-right: auto;
}

div#header h1 {
    font-size: 33px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    background-color: rgb(0, 160, 285);
    width: 90%;
    height: 120%;
    margin: 20px;
    padding: 25px 0 0 0;
    border: 3px solid grey;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
   /* text-align: center; */
}

h2 {
    font-size: 1em;
    margin-left: 20px;
}

#left-box {
    background-color: rgb(9, 30, 45);
    color: white;
    float: left;
    width: 28%;
    height: 92%;
    margin: 20px ;
    padding: 25px 0 0 0;
    border: 3px solid grey;
    text-align: left;
}

#picOfMe {
    display: block;
    width: 100px;
    border: 3px solid grey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/* The "em" unit correspond to em times the actual font-size */
#description, #persoDetails, #languages{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 0.8em
}

#right-box {
    background-color: rgb(9, 30, 45);
    float: right;
    width: 60%;
    height: 92%;
    margin: 20px ;
    padding: 25px 0 0 0;
    border: 3px solid grey;
    text-align: center;
}

#experiences-box {
    background-color: white;
}

#studies-box {
    background-color: white;
}

#footer {
    position: relative;
    background-color: rgb(0, 160, 285);
    width: 90%;
    height: 5%;
    padding: 0px 0 0 0;
    border: 3px solid grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

div#footer h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Classes declaration
*/

/* Main centered website wrapper */